html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0; vertical-align: baseline; font-family: Arial, sans;
}
pre, code, tt, pre *, code *, tt * {
font-size: 14px;
font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.clear {
clear: both;
}
.hidden {
display: none;
}
body {
background: #eeeeee;
}
.main {
width: 1000px;
margin: 0 auto;
background: #fff;
}
.header {
position: relative;
height: 90px;
}
.logo {
position: absolute;
top: 20px;
left: 30px;
}
.logo a.logolnk {
background: url(../images/qnnsafelogo.png) no-repeat 0 0;
text-indent: -9999px;
width: 300px;
height: 47px;
display: block;
}
.nav {
position: absolute;
top: 32px;
left: 380px;
}
.nav ul {
list-style: none;
}
.nav ul li {
float: left;
overflow: hidden;
width: 116px;
height: 35px;
}
.nav ul li a {
display: block;
font-size: 12px;
height: 35px;
line-height: 35px;
text-align: center;
text-decoration: none;
width: 116px;
color: #666666;
font-weight: bold;
}
.nav ul li a:hover, .nav ul li a.current {
color: #ed3237;
}
.showcase {
width: 1000px;
height: 400px;
overflow: hidden;
position: relative;
}
.showcase .bg {
width: 1000px;
height: 400px;
overflow: hidden;
background: url(../images/middlebg.jpg) no-repeat 0 0;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
.showcase_list {
width: 228px;
list-style: none;
box-shadow: 0 0 6px 1px #333;
position: absolute;
top: 20px;
left: 20px;
z-index: 10;
}
.showcase_list li {
height: 26px;
overflow: hidden;
}
.showcase_list a {
display: block;
background: url(../images/mgreygrad.png) repeat-x 0 0;
height: 26px;
line-height: 26px;
text-indent: 10px;
font-size: 14px;
text-decoration: none;
color: #000;
opacity: 0.96;
position: relative;
}
.showcase_list a:hover, .showcase_list a.current {
background: #D71920;
color: #fff;
opacity: 1.0;
}
.showcase_list a div.indicator {
background: url(../images/indicator.png) no-repeat 0 0;
width: 8px;
height: 8px;
overflow: hidden;
font-size: 0;
position: absolute;
top: 9px;
left: 210px;
}
.showcase_list a div.indicator_wht, .showcase_list a.current div.indicator {
background: url(../images/indicator_wht.png) no-repeat 0 0;
}
.subcaselist {
z-index: 9;
}
.subcaselist a {
text-indent: 15px;
}
.subcaselist2 {
z-index: 8;
}
.subcaselist2 a {
text-indent: 15px;
}
.showcase_details img {
width: 240px;
height: 240px;
}
.showcase_details h3 {
font-size: 16px;
}
.showcase_details {
position: absolute;
top: 10px;
left: 730px;
padding: 10px;
background: #FFF;
box-shadow: 0 0 10px #333;
text-align: center;
opacity: 0.95;
overflow: hidden;
width: 240px;
z-index: 3;
}
.divide {
margin: 8px 0;
}
.divide_item {
border: 1px solid #CCCCCC;
float: left;
height: 170px;
margin: 0 0 0 14px;
width: 230px;
}
.divide_item img {
display: block;
width: 200px;
height: 120px;
margin: 13px 15px;
}
.divide_item a {
text-decoration: none;
}
.divide_item a:hover {
text-decoration: underline;
}
.divide_item em {
display: block;
background: url(../images/greygrad.png) repeat-x 0 0;
color: #333;
font-size: 14px;
height: 23px;
line-height: 23px;
margin: 0;
text-align: center;
overflow: hidden;
font-style: normal;
border-top: 1px solid #D9D9D9;
}
.footer {
background: url(../images/greygrad_long.png) repeat-x 0 0;
height: 120px;
position: relative;
}
.foot_logo {
position: absolute;
top: 38px;
left: 50px;
display: block;
background: url(../images/qnnsafelogo-210px.png) no-repeat 0 0;
text-indent: -9999px;
width: 210px;
height: 33px;
}
.foot_text {
position: relative;
top: 27px;
left: 330px;
width: 650px;
height: 85px;
}
.foot_text p {
color: #666666;
font-size: 12px;
margin: 12px 0;
}
.foot_text p a {
font-size: 12px;
color: #666666;
text-decoration: none;
}
.foot_text p a:hover {
text-decoration: underline;
}
.foot_text p.powered, .foot_text p.powered a {
font-size: 11px;
}
.propanel {
background: #FBFDFD;
box-shadow: 0 0 8px -1px #333;
}
#leftprolist.fixed {
position: fixed;
z-index: 9999;
top: 0;
}
.twocols {
margin-top: 15px;
border-top: 1px solid #ECECEC;
}
.twocols_left {
float:left;
border-right: 1px solid #ECECEC;
width: 230px;
margin: 0 8px 0 0;
}
.twocols_left h2 {
text-align: center;
color: #D71920;
padding: 15px 10px;
}
.twocols_left ul {
list-style: none;
}
.twocols_left ul li {

}
.twocols_left ul li a {
background: url(../images/indicator.png) no-repeat 210px 11px;
border-top: 1px solid #ECECEC;
color: #8C8C8C;
display: block;
font-size: 14px;
height: 30px;
line-height: 30px;
padding-left: 15px;
text-decoration: none;
}
.twocols_left ul li a:hover, .twocols_left ul li a.current {
background: #D71920 url(../images/indicator_wht.png) no-repeat 210px 11px;
color: #fff;
text-decoration: none;
}
.twocols_right {
float: right;
width: 760px;
min-height: 800px;
height: auto !important;
height: 800px;
overflow: visible;
overflow-x: hidden;
}
.position {
border-bottom: 1px solid #C2C2C2;
color: #D71920;
font-size: 12px;
font-weight: bolder;
height: 30px;
line-height: 30px;
}
.position a {
font-size: 12px;
color: #111;
text-decoration: none;
}
.position a:hover {
font-size: 12px;
color: #111;
text-decoration: underline;
}
div.position {
padding: 0 20px;
}
.productlist h3 {
border-bottom: 1px dotted #C2C2C2;
color: #000000;
font-size: 20px;
font-weight: bold;
height: 32px;
line-height: 32px;
padding: 0 5px;
margin: 12px 5px 12px 0;
}
.prodsublist .psli {
height: 190px;
width: 188px;
overflow: hidden;
float: left;
}
.prodsublist img {
display: block;
border: 1px solid #CCC;
padding: 5px;
height: 150px;
width: 150px;
margin-bottom: 3px;
}
.prodsublist .psli a {
display: block;
height: 188px;
width: 162px;
text-align: center;
font-size: 13px;
color: #666;
text-decoration: none;
margin: 0 auto;
}
.prodsublist .psli a:hover {
font-size: 13px;
color: #D71920;
text-decoration: underline;
}

.gcontent {
width: 730px;
margin: 20px auto;
}
.rtp {
float: right;
width: 450px;
margin: 0;
}
.rtp h3 {
font-size: 16px;
margin: 0 0 10px;
}
.rtpul {
list-style: none;
}
.rtpul li {
font-size: 13px;
padding: 3px 0 5px;
}
.rtpul li div {
font-size: 13px;
margin: 0 0 5px 0;
}
#etalage{
display: none;
}
#etalage .etalage_thumb{
background: white url(../images/loading.gif) center no-repeat;
-webkit-box-shadow: 0 0 7px #aaa;
-moz-box-shadow: 0 0 7px #aaa;
box-shadow: 0 0 7px #aaa;
}
#etalage .etalage_small_thumbs li{
margin: 5px;
cursor: pointer;
}
#etalage ul li.etalage_smallthumb_active{
cursor: default;
}
#etalage .etalage_zoom_area, .etalage_zoom_area{
background: url(../images/loading.gif) center no-repeat;
-webkit-box-shadow: 0 0 5px #333;
-moz-box-shadow: 0 0 5px #333;
box-shadow: 0 0 5px #333;
}
#etalage .etalage_magnifier{
background: white;
-webkit-box-shadow: 0 0 5px #000;
-moz-box-shadow: 0 0 5px #000;
}
.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint{ display:none }
.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint, .etalage_icon, .etalage_description{ margin:0; padding:0; border:0; list-style:none }
.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img{ position:relative }
.etalage img, .etalage li{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.etalage, .etalage_small_thumbs li{ float:left }
.etalage_right{ float:right }
.etalage li{ position:absolute }
.etalage img{ vertical-align:bottom }
.etalage_magnifier{ cursor:default }
.etalage_magnifier div, .etalage_small_thumbs{ overflow:hidden }
.etalage_magnifier div img{ display:none }
.etalage_icon, .etalage_hint{ cursor:default; width:0; height:0; overflow:hidden }
.etalage_small_thumbs li.vertical{ float:none }
.etalage_zoom_area div{ overflow:hidden; z-index:997 }
.etalage_zoom_preview{ position:absolute; z-index:998 }
.etalage_zoom_img, .etalage_hint{ z-index:999 }
.etalage{ direction:ltr }
div.etalage_description{ position:absolute; bottom:0; left:0; z-index:999 }
div.etalage_description.rtl{ direction:rtl }

.tabbtns {
height: 25px;
overflow: hidden;
margin: 30px 0 10px !important;
}
.tabbtns ul {
list-style: none;
}
.tabbtns li {
float: left;
width: 120px;
height: 25px;
margin: 0 5px 0 0;
}
.tabbtns a {
font-size: 13px;
color: #666;
text-decoration: none;
}
.tabbtns a:hover {
font-size: 13px;
color: #fff;
text-decoration: none;
background: #D71920;
}
.tabbtn {
width: 120px;
height: 25px;
display: block;
line-height: 25px;
text-align: center;
color: #666666;
background: #DCD9D9;
}
a.sel {
text-decoration: none;
color: #fff;
background: #D71920;
}
a.sel:hover {
text-decoration: none;
}

.mc h2 {
font-size: 16px;
margin: 10px 0;
}
.mc h3 {
font-size: 14px;
margin: 15px 0 10px;
}
.mc ul, .mc ol {
margin: 10px 10px 10px 21px;
}
.mc li {
font-size: 13px;
padding: 3px 0;
line-height: 20px;
}
.mc p {
font-size: 13px;
line-height: 20px;
}
a.otherq {
border: 1px solid #c8c9cd;
padding: 3px;
margin: 0 3px 3px 0;
display: block;
font-size: 12px;
color: #000;
text-decoration: none;
float: left;
background: #fff;
text-align: center;
height: 76px;
}
a.otherq:hover {
font-size: 12px;
color: #fff;
text-decoration: underline;
background: #D71920;
}
a.otherq img {
width: 60px;
height: 60px;
}
.otherqcur {
font-weight: bold;
color: #fff !important;
background: #D71920 !important;
}
.wcontent h2.title {
border-bottom: 1px solid #C2C2C2;
border-top: 1px solid #ECECEC;
color: #ED3237;
font-size: 20px;
height: 40px;
line-height: 40px;
padding: 0 20px;
font-weight: bolder;
}
.wcontent .context {
padding: 20px;
}
.wcontent .context .fw_img {
padding: 10px;
text-align: center;
}
.wcontent .context .fw_img img {
box-shadow: 0 0 6px 1px #333;
}
.wcontent .context p {
font-size: 14px;
color: #333;
line-height: 25px;
margin: 20px 0;
}
.wcontent .context a {
font-size: 14px;
color: #ED3237;
text-decoration: none;
}
.wcontent .context a:hover {
font-size: 14px;
color: #ED3237;
text-decoration: underline;
}
.wcontent .context ul, .wcontent .context ol {
margin: 0 20px;
}
.wcontent .context ul li, .wcontent .context ol li {
font-size: 14px;
line-height: 25px;
}
.mapcontainer {
float: right;
margin: 20px 0 20px 20px;
}
.clicktotop, .clicktolist {
cursor: pointer;
}
/* totop */
#toTop {
display:none;
text-decoration:none;
position:fixed;
bottom:10px;
right:10px;
overflow:hidden;
width:51px;
height:51px;
border:none;
text-indent:100%;
background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
background:url(../images/ui.totop.png) no-repeat left -51px;
width:51px;
height:51px;
display:block;
overflow:hidden;
float:left;
opacity: 0;
-moz-opacity: 0;
filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
outline:none;
}
