---
layout: default
permalink: /index.html
---
		<div id="showcase" class="showcase">
			<div class="bg"></div>
			<ul id="main_case" class="showcase_list">{% for category in site.categories_for_products %}{% capture cat %}{{ category[0] }}{% endcapture %}{% for post in site.categories[cat] %}{% if forloop.last %}
				<li><a{% if cat == current_category %} class="current"{% capture current_category_name %}{{ category[1] }}{% endcapture %}{% endif %} href="{{ post.url }}" data-category="{{ category[0] }}">{{ category[1] }}</a></li>{% endif %}{% endfor %}{% endfor %}
			</ul>
			<ul class="showcase_list subcaselist hidden"></ul>
			<ul class="showcase_list subcaselist2 hidden"></ul>
			<div class="showcase_details hidden"></div>
		</div>
		<div class="divide">
			<div class="divide_item">
				<a href="/about/"><img src="/images/qnnimg.png" /><em>About Us</em></a>
			</div>
			<div class="divide_item">
				<a href="/products/"><img src="/images/prods.png" /><em>Products</em></a>
			</div>
			<div class="divide_item">
				<a href="/service/"><img src="/images/service.png" /><em>Service Center</em></a>
			</div>
			<div class="divide_item">
				<a href="/contact/"><img src="/images/contact.png" /><em>Contact Us</em></a>
			</div>
			<div class="clear"></div>
		</div>
